/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */

html {
    overflow-x: hidden;
}
html, body { height: 100%; }
body
 {
     margin: 0; font-family: 'Roboto', "Helvetica Neue", sans-serif; 
        
}
.mat-card:hover {
    box-shadow: 0 8px 8px 8px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) ;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}
.btn{
    margin: 5px;
}
mat-card img{
    object-fit: fill; /*this makes the image in src fit to the size specified below*/
    width: auto; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: auto;
  }
  :host ::ng-deep .mat-tab-body-content {
    overflow: visible;
}
