<header id="home" align="center" style="max-height: 450px;">

<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselIndicators" data-slide-to="1"></li>
      <li data-target="#carouselIndicators" data-slide-to="2"></li>
      <li data-target="#carouselIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" style="max-height: 450px; height:100%;width: 100%;"
                src="../../assets/images/Carousel_1.jpg" 
                alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <h4 style="color: black;font-weight: bolder;">FLY ALL AROUND THE WORLD WITH US</h4>
            </div>
        </div>
      <div class="carousel-item">
        <img class="d-block w-100" style="max-height: 450px; height:100%;width: 100%;"
            src="../../assets/images/Carousel_2.jpg" 
            alt="First slide">
        <div class="carousel-caption d-none d-md-block">
            <h4 style="font-weight: bolder;">BEST IN CLASS AIRLINES TO FACILITATE YOUR TRAVEL</h4>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" style="max-height: 450px;height:100%;width: 100%;"
            src="../../assets/images/Carousel_3.jpg" 
            alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                <h4 style="font-weight: bolder;">FLY WITH US ANYTIME WITHOUT FEAR</h4>
            </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" style="max-height: 450px; height:100%;width: 100%;"
            src="../../assets/images/Carousel_4.jpg" 
            alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <h4 style="font-weight: bolder;">WE GATHER AND ROAM AROUND THE GLOBE</h4>
            </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>
<br><br>
<div class="container-fluid"> 
  <!-- Page content -->
  <div class="content">
    <!-- About Section -->
    <div class="row" id="about">
      <div class="col-6">
       <img src="../../assets/images/Facilities_heading.jpg" 
            class="secondimage" alt="2ND flight image">
      </div>
      <div class="col-6">
        <h1>ABOUT US</h1><br>
        <h2>Flying through Air to connect everyone</h2>
        <p style="opacity: 80%; font-style: italic;">
            Airlines are the means of communication through air.
            The same means of transport is employed by us to travel and connect to one other and help in get the cargo they want.
            We are not only in the business travel, we do shipment of the cargo and heavy equipments to help over the relentless constuction and development of World.
        </p>
            <ul>
                <li>
            We provide you with various of options and interests to lookout for the Ancilliary services that helps to make your life easier with hotel stay, parking and other facilities.
                </li><li>
            Some of our meal providers are the finest and operate at total hygiene that guarantee a mouth watery taste, that wants you to long for more.
                </li><li>
            We provide with various inflight purchases that help you plan for gifts and surprises for loved ones.
                </li>
            </ul>
      </div>
    </div>
  </div>
    <hr>
    <!-- Menu Section -->
    <h1 align="center">OUR FACILITIES AND RESOURCES</h1><h2><hr></h2><h3><hr></h3>
    <div class="row" id="menu">
        <div class="col-5">
            <h4>Best in class Pilots that have and had been flying through each corners of the world and are experienced to give you a stable, balanced and comfortable flight journey. </h4>
        </div>
        <div class="col-7">
            <img src="../../assets/images/pilots.jpg" 
                class="pilotsImage" alt="Healthy relationship">
        </div>
    </div>   
    <hr>
    <div class="row" id="menu">
        <div class="col-7">
            <img src="../../assets/images/cabinCrew.jpg" 
                class="CabinCrewImage" alt="Airhostess">
        </div>
        <div class="col-5">
            <h4>Trained Cabin Crew to greet you with smile and treat with care.
                They are trained in every aspects and relations and are destined to protect in any case of any emergency</h4>
        </div>
    </div> 
    <hr>
    <div class="row" id="menu">
        <div class="col-5">
            <h4>Various inflight shopping options to gift the loved ones with all you can get to surprise them</h4>
        </div>
        <div class="col-7">
            <img src="../../assets/images/shopRequests.jpg" 
                class="inflightshoppingImage" alt="Healthy relationship">
        </div>
    </div> 
    <hr>
    <div class="row" id="menu">
        <div class="col-7">
            <img src="../../assets/images/flightMeals.jpg" 
                class="inflightshoppingImage" alt="Healthy relationship">
        </div>
        <div class="col-5">
            <h4>Meals to facilitate the easy of travel and fight the hunger with options to make you want more.</h4>
        </div>
    </div> 
    <hr>
  
    <!-- Contact Section -->
    <div class="container" id="contact">
      <h3>Contact</h3>
      <h4>Email us :
         <h5>mail.flamingoairlines.com</h5>
      </h4>
      <h4>Write to us : 
        <h5>Flamingo Airlines, flyway street, Dollars Colony, Bangalore, Karnataka, India PIN-560094</h5>
      </h4>
    </div>
    
   <!-- End page content -->
</div>
  